/*Utilities */
@forward "./partials/utilities/variables";
@use "./partials/utilities/mixins";
@forward "./partials/utilities/extend";


/* Base */
@use "./partials/base/reset";
@use "./partials/base/tipografia";

/*Components */
@use "./partials/compontents/principal";
@use "./partials/compontents/nav";
@use "./partials/compontents/cards";
@use "./partials/compontents/footer";
@use "./partials/compontents/formularios";
@use "./partials/compontents/header";

@use "./partials/compontents/ruleta";

