@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@mixin boton-base {
  margin-top: 10px;
  padding: 12px 25px;
  background: $color-secundario;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  text-decoration: none;
}
