@use "../utilities/variables";

footer {
  background-color: variables.$color-principal;
  text-align: center;
  padding: 6px 0;
}

.footer-logo {
  max-width: 160px;
  margin: 6px 0;
  height: auto;
}

footer p {
  margin: 2px 0;
  font-size: 11px;
}

.footer-redes {
  margin-top: 4px;
  gap: 6px;

  img {
    width: 16px;
    height: 16px;
  }
}
