@use "../utilities/variables";
@use "../utilities/mixins";

.Formularios {
  display: flex;
  gap: 40px;
  padding: 40px;
  justify-content: center;
  align-items: flex-start;

  .img {
    width: 350px;
    border-radius: 10px;
  }

  .form-container {
    max-width: 800px;
    width: 100%;

    .form-columns {
      display: flex;
      gap: 40px;
      margin-bottom: 20px;

      .col {
        flex: 1;

        input,
        select {
          width: 100%;
          padding: 10px;
          margin-bottom: 14px;
          border-radius: 6px;
          border: 1px solid #aaa;
          background: variables.$color-input; 
        }
      }
    }
  }
}

.boton {
  @include mixins.boton-base; 
}

