@use "../utilities/variables";

.navbar-brand {
  img {
    width: 180px;
    height: auto;
  }
}

.navbar {
  padding: .5rem 0;

  .navbar-nav {
    gap: 30px;
    margin-left: auto;
    margin-right: auto;

    .nav-link {
      font-size: 18px;
      font-weight: 600;
      color: variables.$color-texto;    
      transition: .2s;

      &:hover {
        color: variables.$color-hover; 
        transform: scale(1.2);
      }
    }
  }
}


