@use "../utilities/mixins";
@use "../utilities/variables";

.cuerpo {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  text-align: center;     
  gap: 20px;             
  padding: 40px;          

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
  }

  .boton {
    @include mixins.boton-base; 
    margin-top: 10px;
  }
}

